{% load staticfiles %}
<html>
	<head>

		<style type="text/css">  
			.sidebar1 {
				float: left;
				width: 180px;
				background-color: #EADCAE;
				padding-bottom: 10px;
			}
		
		</style>  
            
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
        
        <script
          src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>
          
        <!--<script type="text/javascript" src="jquery.min.js"></script>-->
        <!--<script type="text/javascript" src="jquery-ui.min.js"></script>-->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*-->
        
        <script type = "text/javascript" src = "{% static 'js/ajax.js' %}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.2/js/tabulator.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    
    
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">        
        <link rel = "stylesheet" href = "{% static 'css/blog.css' %}">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.2/css/tabulator.min.css" rel="stylesheet">
    	
    	<title>FFAS</title>
    </head>
    
    <body>

    	<div class = "page-header">
        
        
            <table class="titulos">
              <tr>
                <td><img src="{% static "images/kreamas.png" %}" alt="Mi imagen" name="Insert_logo" width="180" height="90" id="Insert_logo" style="background-color: #FFFFFF /></td>
                <td><h1>FIELD FORCE ANALYSIS SYSTEM</h1></td>
              </tr>
            </table>    
        
        
        
        	
        </div>
        

		<div class = "sidebar1">

            <form  method="get" action = "{% url 'search' %}" id = "search-post">
                <div>
                    <p> Escribe tu nombre </p>
                    <input type = "text" name = "title" />
                    
                    <p>Elije tu Region</p>
                    <p>
                      <SELECT name="region" SIZE=1 id="region"> 
                        <OPTION VALUE="REGION 1">REG 1</OPTION>
                        <OPTION VALUE="REGION 2">REG 2</OPTION>
                        <OPTION VALUE="REGION 3">REG 3</OPTION>
                        <OPTION VALUE="REGION 4">REG 4</OPTION> 
                      </SELECT>
                    </p>
        
                    <input type = "submit" value="Refresh" id = "sRef" name = "sRefr"/>
                    
                    <p>Elije tu Distrito</p>
                    <p>
                      <SELECT name="distrito" multiple = "multiple" SIZE=3 id="distrito" class = "listillas"> 
                        <OPTION VALUE="DISTRITO 1">DIST 1</OPTION>
                        <OPTION VALUE="DISTRITO 2">DIST 2</OPTION>
                        <OPTION VALUE="DISTRITO 3">DIST 3</OPTION>
                        <OPTION VALUE="DISTRITO 4">DIST 4</OPTION> 
                      </SELECT>
                    </p>
                    
                    <p> Elije tu Repre</p>
                    <p>
                      <SELECT name="repre" multiple = "multiple" SIZE=3 id="repre" class = "listillas"> 
                        <OPTION VALUE="all" selected>All</OPTION>
                      </SELECT>
                    </p>
        
        
                    <input type = "submit" value="buscar" id = "sBus" name = "sBuss"/>
                    <input type = "button" value="Selecciona Todo" id = "sAll"/>
                    <input type = "button" value="Elimina Todo" id = "sRem"/>
                    <input type = "button" value="Vaciar" id = "vaciar"/>
                </div>
        
            </form>
           
    	</div>
        
        
       <div id = "tunombre">
       
            <p> Sin nombre </p>
            <p> Sin región </p>
            <p> Sin distrito </p>
            <p> Sin repre </p>
            
            <p> Tabla </p>
            
       </div>
    
    
        <div id = "allCharts">
        
            <table class="columns">
              <tr>
                <td><div id="Sarah_chart_div" style="border: 1px solid #ccc"></div></td>
                <td><div id="Anthony_chart_div" style="border: 1px solid #ccc"></div></td>
              </tr>
            </table>    
        
        </div>
    
        <div id="chart2">
        
            <table class="columns">
              <tr>
                <td><div id="chart_div" style="border: 1px solid #ccc"></div></td>
                <td><div id="line_div" style="border: 1px solid #ccc"></div></td>
              </tr>
            </table>    
    
        </div>						
    
    
        <div id="table_div">
    
        </div>						
    
        <div id="example-table">
    
        </div>				
    


    </body>
</html>